<a href="/user/post_form/{{idPost}}">
  <button class="btn btn-outline-dark btn-sm mt-2">Create post</button>
</a>

<a href="/user/my_account">
  <button class="btn btn-outline-dark btn-sm mt-2">My account</button>
</a>

<a href="/user/logout">
  <button class="btn btn-outline-dark btn-sm mt-2">Logout</button>
</a>
<br>
<br>
<h3>Postings:</h3>

{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
          <h6>De: {{username}} - {{title}}</h6>
          <p>{{createdAt}}</p>
          <p>{{text}}</p>
          <a href="/user/comments">
            <button class="btn btn-outline-primary btn-sm">Comments</button>
          </a>
          <a href="/user/post_edit/{{idPost}}">
            <button class="btn btn-outline-primary btn-sm">Edit</button>
          </a>
          <a href="/user/delete_post/{{idPost}}">
            <button class="btn btn-outline-primary btn-sm">Delete</button>
          </a>
        </div>
    </div>
{{else}}

{{/each}}
